
/* PÁGINA HOME */
.bloco{
    background-color:#ccc;
    height: 50vh;
}
.bloco img{
    min-width: 800px;
}
.w-200{
    width: 200px;
}
.w-500{
    width: 500px;
}
.social i:hover{
    color: #fff;
    transform:scale(1.5); 
    transform: rotate(15deg);
}

/* EFEITO MENU ATIVO */

.active{
    border-bottom: 1px solid #fff;
}
.altura{
    height: 300px;
    overflow: scroll;
}