.custom-file-input {
    cursor: pointer;
}

.custom-file-input:hover {
    background-color: #f8e473; /* Tom mais claro de amarelo ao passar o mouse */
}

.custom-file-label {
    background-color: #ffd700; /* Amarelo principal */
    border-color: #ffd700;
    color: #000; /* Preto para contraste */
    border-radius: 5px;
    padding: 10px;
}

.custom-file-input:focus + .custom-file-label {
    box-shadow: 0 0 5px #ffd700; /* Sombra amarela ao focar */
}

.custom-file-label:hover {
    background-color: #ffc107; /* Amarelo mais intenso ao passar o mouse */
    border-color: #ffc107;
}



.custom-yellow-btn {
    background-color: yellow;
    color: black;
}

.footer-yellow {
    background-color: yellow !important; /* Fundo amarelo */
    color: black !important; /* Texto preto */
    opacity: 1; /* Garante que o fundo não fique transparente */
}

/* Garantindo que o header e o footer tenham a mesma cor */
.navbar-yellow {
    background-color: #ffff00 !important; /* Cor amarela */
    color: black !important; /* Texto branco */
    text-shadow: 2px 2px 4px #00000080; /* Sombra suave no texto */
}


/* Sombra no texto para header e footer */
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para melhorar a legibilidade */
}

/* Estilizando os ícones sociais no footer */
.social a {
    color: inherit; /* Mantém a cor original */
    text-decoration: none; /* Remove o sublinhado */
}

.social a:hover {
    color: #000; /* Cor desejada no hover */
}

/* Outros estilos já existentes */
.bloco {
    background-color: #cccccc00;
    height: 50vh;
}

.bloco img {
    min-width: 800px;
}

.w-200 {
    width: 200px;
}

.w-500 {
    width: 500px;
}

.active {
    border-bottom: 1px solid #fff;
}

.altura {
    height: 300px;
    overflow: scroll;
}